.home {
  margin: 1em;
}

.link, .breadcrumb {
  background-color: #EEE;
  padding: 1em;
  margin: 5px;
  display: block;
  text-decoration: none;
  font: bold;
  color: #474747;
}

.breadcrumb .backlink {
  color: #575757;
  text-decoration: none;
}

.breadcrumb .active {
  color: #006de9;
  font-weight: bold;
}
